* {
    margin: 0;
    box-sizing: border-box;
}

.top {
    background-color: #1f2937;
    height: 70vh;
    width: auto;
}

.top-box {
    display: flex;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 8rem;
    margin-right: 4rem;
}

.header-logo {
    color: #f9faf8;
    margin-top: 1rem;
    font-size: 24px;
}

.header-options {
    color: rgb(172, 171, 171);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
}

.top-left-content {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 4rem;
    margin-left: 8rem;
}

#top-left-text {
    color: white;
    font-size: 48px;
    font-weight: 800;
}

#top-left-subtext {
    color: #e5e7eb;
    font-size: 18px;
}

#signup-button {
    margin-top: 1rem;
    width: 100px;
    height: 30px;
    background-color: #3882f6;
    color: white;
    font-weight: 500;
    border-radius: 10px;
    padding: 4px;
}

.top-right-content {
    display: flex;
    background-color: rgb(165, 163, 163);
    width: 500px;
    height: 250px;
    margin-top: 4rem;
    margin-left: 8rem;
}

.image-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-help {
    color: white;
    text-align: center;
    margin-left: 8rem;
}

/* Conten boxes styles | Mid of the page */

#middle-heading {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 500;
    margin-top: 2rem;
}
.content-outer-box {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    height: 30vh;
}

.content-box {
    display: flex;
    flex-direction: column;
    width: 100px;
}

.content-border-box {
    border: 3px solid blue;
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

#content-subtext {
    margin-top: 0.4rem;
    text-align: center;
    font-size: 12px;
}

.quote-box {
    background-color: #e5e7eb;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quote {
    text-align: center;
    width: 800px;
    font-size: 36px;
    font-style: italic;
}
#quote-author {
    font-size: 20px;
    margin-right: 1rem;
    font-weight: 800;
}
